!!!
%html
  %head
    %title Investment Advisors
    = stylesheet_link_tag "application"
    = javascript_include_tag "main"
    = csrf_meta_tags
    = yield :templates
    :javascript
      $(document).ready(function() {
        #{ yield :on_ready }
      })
  %body
    = yield
  
    %footer 